/viikko4/t1/MockitoDemo/build/
/viikko4/t2/MaksukorttiMockito/build/
/viikko4/t3/Verkkokauppa/.gradle/
/viikko4/t3/Verkkokauppa/build/
/viikko4/t5/IntJoukkoSovellus/.gradle/
/viikko4/t5/IntJoukkoSovellus/build/
/viikko4/t6/Tennis/build/